* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #555;
  overflow-x: hidden;
}

h1 {
  letter-spacing: 0.3rem;
}

p {
  color: #555;
  font-size: 1.2rem;
  margin-top: 0.5rem;
  width: 50%;
}

/* main wrapper */
.wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #fff;
  text-align: center;
}

/* form wrapper */
.wrap form {
  border: 0.1rem solid #dfe1e5;
  box-shadow: 0 0.1rem 0.6rem rgb(32 33 36 / 28%);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  background-color: #fff;
  margin: 2rem auto;
  padding: 5rem;
  width: 60%;
}

/* input group */
.input_group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 1rem;
  border-radius: 0.3rem;
}

/* input fields */
.input_group input {
  border: 0.1rem solid #dfe1e5;
  border-radius: 1rem;
  outline: none;
  padding: 1rem 0.5rem;
  margin: 3rem 0 0.5rem 0;
  background-color: #fff;
  color: rgb(22, 23, 24);
  width: 45%;
}

/* input fields on hover */
.input_group input:hover {
  box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
  border-color: rgba(223, 225, 229, 0);
}

/* check button */
#submit {
  padding: 0.5rem;
  font-size: 1.5rem;
  background-color: #fff;
  border: 0.1rem solid #dfe1e5;
  border-radius: 1rem;
  color: tomato;
  width: 45%;
  margin-bottom: 2rem;
  outline: none;
  cursor: pointer;
}

/* check button on hover */
#submit:hover {
  box-shadow: 0 0.1rem 0.6rem rgb(32 33 36 / 28%);
  border-color: rgba(223, 225, 229, 0);
  color: green;
}

/* disabled button */
button[disabled] {
  opacity: 0.5;
  cursor: not-allowed !important;
}

/* display message */
.message {
  width: 50%;
  color: #555;
  text-align: center;
  padding: 0.5rem;
  border-radius: 0.3rem;
}

/* showing error, danger or success */
.danger {
  color: red !important;
}

.normal {
  color: rgb(54, 255, 47);
  font-weight: 900;
}

.error {
  border: 0.1rem solid red !important;
}
