* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #555;
  overflow-x: hidden;
}

h1 {
  letter-spacing: 0.3rem;
  color: #3acf85;
  font-size: 3rem;
  margin-bottom: 1rem;
  text-decoration: underline;
}

p {
  color: #555;
  font-size: 1.2rem;
  margin-top: 0.5rem;
  width: 50%;
}

/* main wrapper */
.wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #fff;
  text-align: center;
}

/* form wrapper */
.wrap form {
  border: 0.1rem solid #dfe1e5;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  background-color: #fff;
  margin: 20rem auto;
  padding: 5rem;
  width: 50%;
  overflow: hidden;
}
.wrap form:hover {
  box-shadow: 0 0.1rem 0.6rem rgb(32 33 36 / 28%);
}
/* input group */
.input_group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 3rem;
  border-radius: 0.3rem;
}

/* input fields */
input {
  border: 0.1rem solid #dfe1e5;
  border-radius: 1rem;
  outline: none;
  padding: 1rem 1.5rem;
  margin-right: 0.5rem;
  background-color: #fff;
  color: rgb(22, 23, 24);
  font-size: 2rem;
}

/* input fields on hover */
input:hover {
  box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
  border-color: rgba(223, 225, 229, 0);
}

/* check button */
#submit {
  padding: 1rem 0.5rem;
  font-size: 2rem;
  background-color: #fff;
  border: 0.1rem solid #dfe1e5;
  border-radius: 1rem;
  color: tomato;
  outline: none;
  cursor: pointer;
}

/* check button on hover */
#submit:hover {
  box-shadow: 0 0.1rem 0.6rem rgb(32 33 36 / 28%);
  border-color: rgba(223, 225, 229, 0);
  color: green;
}

/* disabled button */
button[disabled] {
  opacity: 0.5;
  cursor: not-allowed !important;
  color: #555 !important;
}

/* display message */
.message {
  width: 50%;
  color: #555;
  text-align: center;
  padding: 0.5rem;
  border-radius: 0.3rem;
  font-size: 2rem;
  transform: translateY(250%);
  transition: transform 0.5s ease-in-out;
}

.message.show {
  border: 0.1rem solid #3acf85;
  box-shadow: 0 0.1rem 0.6rem rgb(32 33 36 / 28%);
  color: #3acf85;
  transform: translateY(0%);
}

/* showing error, danger or success */
.danger {
  color: red !important;
}

.error {
  border: 0.1rem solid red !important;
}
